# Gradle files
.gradle/
build/
out/
classes/

# Fabric
run/

# MacOS
*.DS_Store

# IntelliJ IDEA
*.iml
*.ipr
*.iws
.idea/

# Eclipse
*.launch

# VS Code
.classpath
.project
.settings/
.vscode/
bin/

# Log files
*.log

# Java
*.hprof
*.jfr
